<div>
    <a class="nav-link p-0 m-0 btn-xs" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="icon fa fa-info-circle fa-fw p-0 m-0" style="pointer-events:none"></i>OER
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownOERReleasedElement-{{identifier}}">
        {{#str}} releasedvideo, oermod_opencast{{/str}}
    </div>
</div>